<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68797774185-mbot3822rfpv06hi6vmd6dmekhat3259.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68797774185-mbot3822rfpv06hi6vmd6dmekhat3259</string>
	<key>API_KEY</key>
	<string>AIzaSyD1rwbtgNfN0EF_xxJTIdO0b2tGXATuNYU</string>
	<key>GCM_SENDER_ID</key>
	<string>68797774185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hazystudios.lambdatimeline</string>
	<key>PROJECT_ID</key>
	<string>lambda-timeline-5876b</string>
	<key>STORAGE_BUCKET</key>
	<string>lambda-timeline-5876b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68797774185:ios:5104e8c46a95fcb3d465f8</string>
	<key>DATABASE_URL</key>
	<string>https://lambda-timeline-5876b.firebaseio.com</string>
</dict>
</plist>